[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.md]
indent_size = 4

[/paper/*.md]
indent_size = unset

[/tests/sample_data/**]
indent_size = unset
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
