.mypy_cache
.ipynb_checkpoints/
dev/
trace_validator.egg-info
.tox
**/__pycache__
hypothesis
.coverage
.hypothesis
.vim
.esri.gz
concurrency.ipynb
sampleproject.egg-info/
fractopo.egg-info/
.esri.gz
docs/
README.html
network_profile.py
network_profiling.profile
venv
notebooks/fractopo_network_debug.ipynb
**-Copy*.ipynb
