.mypy_cache
.ipynb_checkpoints/
dev
trace_validator.egg-info
.tox
**/__pycache__
hypothesis
.coverage
.hypothesis
.vim
.esri.gz
concurrency.ipynb
sampleproject.egg-info/
fractopo.egg-info/
notebooks/*
.esri.gz
docs
