.mypy_cache
.ipynb_checkpoints/
dev/
trace_validator.egg-info
.tox
**/__pycache__
hypothesis
.coverage
.hypothesis
.vim
.esri.gz
*.rej
.hypogpd/
docs/
fractopo.egg-info/
readme.html
tests/profile_runtime.html
venv/

# We do not want to include requirements.txt
# It is merely for backwards compatible pip installs
requirements.txt

network_profile.py
