[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
hypothesis = "*"
pytest = "*"
jupyterlab = "*"
pipenv-to-requirements = "*"
coverage = "*"
hypothesis-geometry = "*"
pytest-regressions = "*"
nox = "*"
invoke = "*"
jedi = "==0.17.2"
black-nb = "*"
bleach = ">=3.3.0"
nbsphinx = "*"
sphinx = "*"
recommonmark = "*"
sphinx-rtd-theme = "*"
pyinstrument = "*"

[packages]
geopandas = "*"
pandas = "*"
numpy = "*"
shapely = "*"
pygeos = "==0.8"
scipy = "*"
powerlaw = "*"
python-ternary = "*"
sklearn = "*"
seaborn = "*"
matplotlib = "*"
click = "*"
descartes = "*"
pydantic = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
