[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
hypothesis = "*"
pytest = "*"
sphinx = "*"
recommonmark = "*"
tox = "*"
pipenv-setup = "*"
sphinx-autodoc-typehints = "*"
matplotlib = "*"
descartes = "*"
jupyterlab = "*"
pipenv-to-requirements = "*"
coverage = "*"
mypy = "*"
pylama = "*"
trace-validator = {editable = true, path = "./../trace-validator"}
hypothesis-geometry = "*"
pytest-regressions = "*"

[packages]
geopandas = "*"
pandas = "*"
click = "*"
numpy = "*"
shapely = "*"
pygeos = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
