"""
Script for profiling ``[[ package ]]`` performance.
"""


def perf_profile():
    """
    Profile ``[[ package ]]`` performance.
    """
    return


if __name__ == "__main__":
    perf_profile()
